In [1]:
import pandas as pd
import sqlite3

In [23]:
conn = sqlite3.connect("motors.db")

In [24]:
cur = conn.cursor()

In [31]:
add = cur.execute('SELECT * FROM motors')

In [40]:
pd.read_sql_query('SELECT * FROM faults', conn)

   id              fault
0   1  Voltage Imbalance
1   2           Overload
2   3      Short Circuit
3   4        Earth Fault
4   5       Misalignment
5   6       Bearing Wear